@import "base.css";

:root {
    --yonganzhihe-bg: rgba(53, 62, 79, 1);
    --hundunhai-bg: #2f74b9;
    --zhishihuangye-bg: #538232;
    --yuanbao-bg: #7030a0;
    --shixuzhiguo-bg: #bf0200;
    --zaihuozhicheng-bg: #156c59;
    --muchao-bg: #057c08;
    --anyingshijie-bg: #bf8e03;
    --primary-color: var(--el-color-white);
}

.main {
    --el-table-row-hover-bg-color: none;
}

.main.el-table .cell {
    height: 100%;
    padding: 4px;
    cursor: pointer;
}

.main.el-table .el-table__cell {
    padding: 0;
    transition: all 0.4s ease-in-out !important;
}


.yonganzhihe,
.el-table__body tr:hover>td.el-table__cell.yonganzhihe {
    background-color: var(--yonganzhihe-bg);
}


.hundunhai,
.el-table__body tr:hover>td.el-table__cell.hundunhai {
    background-color: var(--hundunhai-bg);
}

.zhishihuangye {
    background-color: var(--zhishihuangye-bg);
}

.zhishihuangye,
.el-table__body tr:hover>td.el-table__cell.zhishihuangye {
    background-color: var(--zhishihuangye-bg);
}

.yuanbao,
.el-table__body tr:hover>td.el-table__cell.yuanbao {
    background-color: var(--yuanbao-bg);
}


.shixuzhiguo,
.el-table__body tr:hover>td.el-table__cell.shixuzhiguo {
    background-color: var(--shixuzhiguo-bg);
}


.zaihuozhicheng,
.el-table__body tr:hover>td.el-table__cell.zaihuozhicheng {
    background-color: var(--zaihuozhicheng-bg);
}


.muchao,
.el-table__body tr:hover>td.el-table__cell.muchao {
    background-color: var(--muchao-bg);
}

.anyingshijie,
.el-table__body tr:hover>td.el-table__cell.anyingshijie {
    background-color: var(--anyingshijie-bg);
    color: var(--primary-color);
}


.yonganzhihe a,
.hundunhai a,
.zhishihuangye a,
.yuanbao a,
.shixuzhiguo a,
.anyingshijie a,
.zaihuozhicheng a,
.anyingshijie a,
.muchao a,
.zaihuozhicheng a {
    color: var(--primary-color);
}



.el-table__body .el-table__cell:hover {
    font-weight: bold;
    background-color: #25ff08 !important;
}

.el-table__body .el-table__cell:hover a {
    color: #240808;
}