@import "base.css";

:root {
    --yonganzhihe-bg: rgba(53, 62, 79, 1);
    --hundunhai-bg: #2f74b9;
    --zhishihuangye-bg: #538232;
    --yuanbao-bg: #7030a0;
    --shixuzhiguo-bg: #bf0200;
    --zaihuozhicheng-bg: #156c59;
    --muchao-bg: #057c08;
    --anyingshijie-bg: #bf8e03;
    --primary-color: #fff;
}