.sequencetable {
    width: 1600px;
    margin: auto;
    border-collapse: collapse;
}

.sequencetable tr,
.sequencetable td,
.sequencetable th {
    font-size: 14px;
    text-align: center;
    height: 1px;
    transition: all 0.4s ease-in-out;
}


.sequencetable thead td {
    color: var(--primary-color);
    border: 1px solid #4050df;
    background-color: #001880;
    padding: 16px 0;
}

.sequencetable tbody td {
    border: 1px solid lightblue;
    padding: 5px 6px;
}

.sequencetable tbody td:hover {
    cursor: pointer;
    background-color: #cdacec;
}

.sequencetable tbody td:hover,
.sequencetable tbody td a:hover {
    color: #c29795 !important;
}


.sequencetable td a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.sequencetable td a.female {
    color: #e874f3;
}

.sequencetable td a.male {
    color: #b10900;
}

.sequencetable .yonganzhihe {
    background-color: var(--yonganzhihe-bg);
}

.sequencetable .hundunhai {
    background-color: var(--hundunhai-bg);
}

.sequencetable .zhishihuangye {
    background-color: var(--zhishihuangye-bg);
}

.sequencetable .yuanbao {
    background-color: var(--yuanbao-bg);
}

.sequencetable .shixuzhiguo {
    background-color: var(--shixuzhiguo-bg);
}

.sequencetable .zaihuozhicheng {
    background-color: var(--zaihuozhicheng-bg);
}

.sequencetable .muchao {
    background-color: var(--muchao-bg);
}

.sequencetable .anyingshijie {
    background-color: var(--anyingshijie-bg);
}

.sequencetable .yonganzhihe a,
.sequencetable .hundunhai a,
.sequencetable .zhishihuangye a,
.sequencetable .yuanbao a,
.sequencetable .shixuzhiguo a,
.sequencetable .anyingshijie a,
.sequencetable .zaihuozhicheng a,
.sequencetable .anyingshijie a,
.sequencetable .muchao a,
.sequencetable .zaihuozhicheng a {
    color: var(--primary-color);
}