.this {
    position: absolute;
    top: 0;
    left: 0;
}

.table {
    display: block;
    width: 1600px;
    margin: auto;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}